/*Universal styles*/

html {
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  background-color: white;
}

body {
  line-height: 1.4rem;
  margin: 0;
}
.container {
  max-width: 960px;
  margin: auto;
}

/*Header*/

header {
  background-image: url(../images/glasses-bg.png);
  height: 30rem;
  padding-top: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  background-color: cadetblue;
  padding-top: 1rem 0;
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

nav div {
  align-items: center;
  display: flex;
}

nav ul {
  margin-right: 1rem;
}

nav ul li {
  display: inline;
  padding: 0 1rem;
}

header .flex {
  justify-content: flex-end;
}

.flex {
  display: flex;
}

.main-banner {
  background-color: white;
  margin-top: 10rem;
  margin-right: -2rem;
  padding: 0.75rem 5rem;
  line-height: 2.4rem;
  display: inline-block;
}

.main-banner h1 {
  font-weight: bold;
  font-size: 2rem;
  margin: 0.67em 0;
}

/*Icons*/

.supporting {
  display: flex;
  justify-content: center;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
}

.icon img {
  width: 5rem;
  margin-bottom: 1rem;
}

.icon img.paper-icon {
  width: 3.5rem;
}

/*Info*/

.info {
  display: flex;
  justify-content: center;
}

.details {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 4rem;
}

.title {
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  color: white;
  max-width: 10rem;
}

.title p {
  padding: 1rem 0;
}

/*Footer*/

footer {
  display: flex;
  background-color: azure;
  align-items: center;
  padding: 4rem 2rem;
}

footer img {
  margin-left: 2rem;
  margin-right: 1rem;
  height: 1.5rem;
}
